<!DOCTYPE html>
<html lang="en">

<%- partial('_partial/head') %>

<body>
  <%- partial('_partial/header.ejs') %>

  <div id="content" class="content">
    <%- body %>
  </div>
  <%- partial('_partial/footer.ejs') %>
  <%- partial('_partial/go_top.ejs') %>
</body>

</html>