<div id="footer">
  <p>
    <span id="footerYear-start">&copy; <%- theme.footer.site_year_range[0] %></span> - <span id="footerYear-end"><%-
                theme.footer.site_year_range[1] %> <%- config.author%> All rights
      reserved.</span>
    <br>
    Theme <a href="//github.com/cybertramp/hexo-theme-sso" target="_blank">SSO</a>
    by <a href="<%- theme.footer.author_site %>" target="_blank"><%- config.author %></a> | Powered by <a href="//hexo.io" target="_blank">Hexo</a>
  </p>
</div>